extends layout-async

block content
  h1= title
  ul.menu
    li
      a(href='#/view1') view1
    li
      a(href='#/view2') view2

  div(ng-view)

  div
    Angular seed app: v
      span(app-version)

